In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.preprocessing import LabelBinarizer
from sklearn.metrics import make_scorer

In [19]:
def dcg_score(y_true, y_score, k=5):
    """Discounted cumulative gain (DCG) at rank K.

    Parameters
    ----------
    y_true : array, shape = [n_samples]
        Ground truth (true relevance labels).
    y_score : array, shape = [n_samples, n_classes]
        Predicted scores.
    k : int
        Rank.

    Returns
    -------
    score : float
    """
    order = np.argsort(y_score)[::-1]
    y_true = np.take(y_true, order[:k])

    gain = 2 ** y_true - 1

    discounts = np.log2(np.arange(len(y_true)) + 2)
    return np.sum(gain / discounts)


def ndcg_score(ground_truth, predictions, k=5):
    """Normalized discounted cumulative gain (NDCG) at rank K.

    Normalized Discounted Cumulative Gain (NDCG) measures the performance of a
    recommendation system based on the graded relevance of the recommended
    entities. It varies from 0.0 to 1.0, with 1.0 representing the ideal
    ranking of the entities.

    Parameters
    ----------
    ground_truth : array, shape = [n_samples]
        Ground truth (true labels represended as integers).
    predictions : array, shape = [n_samples, n_classes]
        Predicted probabilities.
    k : int
        Rank.

    Returns
    -------
    score : float

    Example
    -------
    >>> ground_truth = [1, 0, 2]
    >>> predictions = [[0.15, 0.55, 0.2], [0.7, 0.2, 0.1], [0.06, 0.04, 0.9]]
    >>> score = ndcg_score(ground_truth, predictions, k=2)
    1.0
    >>> predictions = [[0.9, 0.5, 0.8], [0.7, 0.2, 0.1], [0.06, 0.04, 0.9]]
    >>> score = ndcg_score(ground_truth, predictions, k=2)
    0.6666666666
    """
    lb = LabelBinarizer()
    lb.fit(range(len(predictions) + 1))
    T = lb.transform(ground_truth)

    scores = []

    # Iterate over each y_true and compute the DCG score
    for y_true, y_score in zip(T, predictions):
        actual = dcg_score(y_true, y_score, k)
        best = dcg_score(y_true, y_true, k)
        score = float(actual) / float(best)
        scores.append(score)

    return np.mean(scores)


# NDCG Scorer function
ndcg_scorer = make_scorer(ndcg_score, needs_proba=True, k=5)

In [2]:
data = pd.read_csv("data/training_set_VU_DM_2014.csv")

In [23]:
# ids, counts = np.unique(data['srch_id'], return_counts=True)

# sorted(data['position'][data['srch_id'] == 4])

data[['srch_id', 'prop_id', 'position']]

         srch_id  prop_id  position
0              1      893        27
1              1    10404        26
2              1    21315        21
3              1    27348        34
4              1    29604         4
5              1    30184         7
6              1    44147        18
7              1    50984        35
8              1    53341         3
9              1    56880        10
10             1    59267        20
11             1    59526        19
12             1    68914        13
13             1    74474         2
14             1    81437        15
15             1    85728        31
16             1    88096        23
17             1    88127        36
18             1    88218         8
19             1    89073         6
20             1    95166        28
21             1    95307         1
22             1    97247        32
23             1   107872        12
24             1   111000        24
25             1   111106        37
26             1   114766        33
27             1   122844        29
28             4     3625        21
29             4    11622        36
...          ...      ...       ...
4958317   332784    21150        10
4958318   332784    25223        16
4958319   332784    28943        31
4958320   332784    31381        30
4958321   332784    34966         3
4958322   332784    48216        22
4958323   332784    48512         9
4958324   332784    50151        20
4958325   332784    51555         1
4958326   332784    51585        18
4958327   332784    51653         7
4958328   332784    52463        13
4958329   332784    55158         6
4958330   332784    58015        28
4958331   332784    78171        27
4958332   332784    82051        21
4958333   332784    88307        26
4958334   332784    89802        29
4958335   332784    90665        12
4958336   332784   114177        15
4958337   332784   115562        19
4958338   332784   121275        25
4958339   332784   128677         8
4958340   332784   140304         2
4958341   332785    55110         7
4958342   332785    77700         2
4958343   332785    88083         3
4958344   332785    94508         4
4958345   332785   128360         1
4958346   332785   134949         6

[4958347 rows x 3 columns]